.zs-enabled {
    position: relative
}

.zs-enabled .zs-slideshow,
.zs-enabled .zs-slides,
.zs-enabled .zs-slide {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}
.zs-enabled .zs-slideshow .zs-slides .zs-slide {
    background: transparent none no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2)
}

.zs-enabled .zs-slideshow .zs-slides .zs-slide.active {
    visibility: visible;
    opacity: 1
}

.zs-enabled .zs-slideshow .zs-bullets {
    position: absolute;
    z-index: 4;
    bottom: 55px;
    left: 0;
    width: 100%;
    text-align: center;
}
.zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #fff;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    margin: 10px;
    background-color: #fff;
}
.zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active {
    background: #2529d8;
    border: 2px solid #2529d8;
}
.zs-enabled .zs-slideshow:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: transparent none repeat 0 0
}

.zs-enabled.overlay-plain .zs-slideshow:after {
    background-image: url(../images/plain.png)
}

.zs-enabled.overlay-dots .zs-slideshow:after {
    background: url(../images/dots.png);
}
.properties-table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    margin-top: 2em;
    font-size: .85em;
    background-color: #eee;
}
.properties-table th, .properties-table td {
    text-align: left;
    padding: 10px;
}
.properties-table th {
    border-bottom: 1px solid #333;
    line-height: 2;
}
/* End Basic styling */


#demo-1 {
    position: relative; /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
    overflow: hidden; /* to bound the empty top space created by inner element's top margin */
    width: 100%;
    min-height:750px;
    background-color: #999;
}
.demo-inner-content {
    position: relative;
    z-index: 2;
}
.demo-inner-content h1 {
    font-size: 2.5em;
    margin: 0;
}
@media(max-width:600px) {
    .zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
        width: 10px;
        height: 10px;
        margin: 8px;
    }
    #demo-1 {
		min-height:600px;
	}
}
@media(max-width:384px) {
	#demo-1 {
		min-height: 540px;
    }
    .zs-enabled .zs-slideshow .zs-bullets {
        bottom: 15px;
        left: 0;
    }
}